
<center><h1>Mon e-shop</h1></center>


 
<div class="wrapper">

  <h1>Nos articles</h1>
  <div class="cols">
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
            <div class="inner">
              <p>produit_8</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix:10</p>
            </div>
          </div>
          <br>
          <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:10), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/509/509/)">
            <div class="inner">
              <p>produit_7</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix:100</p>
            </div>
          </div>
          <div class="btn-contain">
          <br>
<center> <%= button_to "Payer maintenant", checkout_create_path(total:100), class:"btn btn-primary btn-lg", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
            <div class="inner">
              <p>produit_6</p>
              <span>description</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix:15</p>
            </div>
            </div>
            <br>
<div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
      </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
            <div class="inner">
              <p>produit_5</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix:15</p>
            </div>
          </div>
          <br>
          <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/504/504/">
            <div class="inner">
              <p>produit_4</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix:15</p>
            </div>
          </div>
          <br>
          <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
<br>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
            <div class="inner">
              <p>produit_3</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix</p>
            </div>
          </div>
          <br>
         <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
            <div class="inner">
              <p>produit_2</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>descriptif, prix</p>
            </div>
          </div>
          <br>
          <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
            <div class="inner">
              <p>produit_1</p>
              <span>descriptif</span>
            </div>
          </div>
          <div class="back">
            <div class="inner">
             
              <p>descriptif, prix</p>
            </div>
          </div>
          <br>
          <div class="btn-contain">
<center> <%= button_to "Payer maintenant", checkout_create_path(total:15), class:"btn", remote: true %></center>
  <div class="btn-particles">
  </div>
</div>
        </div>
      </div>
      
    </div>
 </div>





 <%= link_to "Gérer mes abonnements", customer_portal_sessions_path, method: "POST" %> 

  