<p style="color: green"><%= notice %></p>

<%= render @product %>
<center>
<div>
  <%= link_to "Voir le produit", edit_product_path(@product) %> |
  <%= link_to "Retourner au produit", products_path %>

  <%= button_to "Annuler cette article", @product, method: :delete %>
</div>
</center>